<div class = "side-upper" >
  <div class = "user-name">
    <a href = "#">Tom</a>
  </div>

  <div class = "chat-link">
    <a href = "#">チャットを作成する</a>
  </div>
</div>

<div class = "side-bottom">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>