.wrapper{
  display: flex;
  height: 100vh;
}

.side-bar{
  background-color: #253141;
  width: 300px;
}

.side-upper{
  height: 100px;
  padding: 0 20px;
}

.side-bottom{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}


.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat-upper{
  height: 100px;
  padding: 0 40px;
}

.chat-main{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.chat-bottom{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}